@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200..1000&display=swap');

:root {
    --dark: hsl(225, 25%, 10%);
    --shadow: hsla(225, 25%, 10%, 0.4);
    --less-dark: hsl(225, 25%, 18%);
    --less-less-dark: hsl(225, 25%, 35%);
}

body {
    background-color: var(--dark);
    color: white;
    font-family: "Nunito Sans", sans-serif;
}

.country-path { 
    fill: var(--less-dark); 
    stroke: var(--dark);
    stroke-width: 0.15px;
}

.country-path:hover {
    stroke: white;
    stroke-width: 1px;
}

#tooltip {
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--dark);
    background-color: hsla(225, 25%, 10%, 0.8);
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    width: 250px;
}

#tooltip-text {
    font-size: 12px;
    margin: 0;
    padding: 8px 25px;
    padding-bottom: 0;
    /* text-shadow: 0 2px 0 var(--dark); */
}

#tooltip-text span { /* Country's score display */
    font-weight: bold;
    float: right;
}

#value-meter, #value-progress { 
    height: 6px; 
    line-height: 0;
    padding: 0;
}

#value-meter {
    position: relative;
    background-color: white;
    background-color: rgba(255,255,255, 0.2);
    width: calc(100% - 50px);
    margin: 1px 25px 10px 25px;
    border-radius: 2px;
}

#value-progress {
    position: absolute;
    display: inline-block;
    top: 0;
    left: 0;
    margin: 0;
    width: 25%;
    background-color: rgb(213, 228, 228);
    background-color: rgb(35, 57, 147);
    box-shadow: inset 0 0 0 1px rgba(255,255,255, 0.5);
    border-radius: 2px;
}

#AND, #MCO, #LIE, #Hong_Kong, #SGP, #BHR, #MLT {
    stroke: yellow;
    stroke-width: 1px;
}

/*
.low-data { 
    fill: rgb(255,150,0); 
    stroke: rgba(255,150,0,0.1);
    stroke-width: 18;
}
.no-data { 
    fill: red; 
    stroke: rgba(255,0,0,0.1);
    stroke-width: 18;
}*/