/* @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200..1000&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Nunito+Sans:opsz,wght@6..12,200..1000&display=swap');

:root {
    --dark: hsl(225, 25%, 10%);
    --shadow: hsla(225, 25%, 10%, 0.4);
    --less-dark: hsl(225, 25%, 18%);
    --less-less-dark: hsl(225, 25%, 35%);

    --low-data-color: hsl(30, 100%, 75%);
    --no-data-color: hsl(0, 100%, 75%);

    --Nunito-Sans: "Nunito Sans", sans-serif;
    --Alfa-Slab-One: "Alfa Slab One", sans-serif;
}

body {
    background-color: var(--dark);
    color: white;
    font-family: var(--Nunito-Sans);
}

/* ----------------------------- Countries ----------------------------- */

.country-path { 
    fill: var(--less-dark); 
    stroke: var(--dark);
    stroke-width: 0.15px;
}

#z-index-override {
    stroke: white;
    fill: transparent;
    stroke-width: 1px;
    pointer-events: none;
}

#low-data-hatching { pointer-events: none; }
#low-data-hatching path { fill: url(#diagonalHatch); }

/* ----------------------------- Tooltip ----------------------------- */

#tooltip, #tooltip-notice-flex {
    pointer-events: none;
    background-color: var(--dark);
    background-color: hsla(225, 25%, 10%, 0.88);
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    width: 260px;
}

#tooltip {
    position: fixed;
    top: 0;
    left: 0;
    /* display: flex */
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

#tooltip-grid {
    display: grid;
    grid-template: 1fr / 1fr 90px;
    align-items: center;
    gap: 20px;
    width: calc(100% - 40px);
    margin: auto;
}

#tooltip, #tooltip-grid, #tooltip-text, #tooltip-score { 
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
}
#tooltip-score { padding: 5px 0; }
#tooltip-text { padding: 10px 0; }

/* Tooltip content */

#tooltip-text { line-height: 1.18; }

#tooltip-score {
    font-weight: bold;
    font-family: var(--Alfa-Slab-One);
    font-size: 32px;
    text-align: right;
}

#no-data-first-dash { position: relative; right: 2px; }

#tooltip-notice-flex {
    position: absolute;
    display: flex;
    top: -1px;
    right: -58px;
    margin: 0;
    padding: 10px 10px;
    box-sizing: border-box;
    height: calc(100% + 2px);
    width: 50px;
    line-height: 1;
    text-align: center;
    align-items: center;
    justify-content: center;
}

/* ----------------------------- Misc ----------------------------- */

/* For seeing islands easier */
/* .country-path { 
    stroke: rgba(255,255,255, 0.15);
    stroke-width: 0.6vw;
} */

/* .low-data { 
    fill: rgb(255,150,0) !important; 
    stroke: rgba(255,150,0,0.1);
    stroke-width: 12;
}
.no-data { 
    fill: red; 
    stroke: rgba(255,0,0,0.1);
    stroke-width: 12;
}
 */





/*

<svg width="200" height="200" xmlns="http://www.w3.org/2000/svg">
  <defs>
<pattern id="diagonalHatch" patternUnits="userSpaceOnUse" width="4" height="4" patternTransform="scale(8)">
  <path d="M-1,1 l2,-2
           M0,4 l4,-4
           M3,5 l2,-2" 
        style="stroke:black; stroke-width:1.2" />
</pattern>

  </defs>
<rect x=40 y=40 width=100 height=50 style="fill:red;" />
  
<rect x="0" y="0" width="100" height="100" fill="url(#diagonalHatch)"/>

<rect x="120" y="70" width="50" height="50" fill="url(#diagonalHatch)" />

</svg>



*/