body {
    background-color: hsl(225, 25%, 10%);
    color: white;
}

.country-path { 
    fill: hsl(225, 25%, 18%); 
    stroke: hsl(225, 25%, 10%);
    stroke-width: 0.2;
}

.country-path:hover {
    fill: hsl(225, 25%, 22%);
}

#United_States { fill: yellow; }
#United_States:hover { fill: lime; }

#China { fill: hsl(10, 70%, 40%); }
#India { fill: hsl(45, 70%, 40%); }