:root {
    --dark: hsl(225, 25%, 10%);
    --shadow: hsla(225, 25%, 10%, 0.4);
    --less-dark: hsl(225, 25%, 18%);
}

body {
    background-color: var(--dark);
    color: white;
}

.country-path { 
    fill: var(--less-dark); 
    stroke: var(--dark);
    stroke-width: 0.15;
}

.country-path:hover {
    stroke: white;
    stroke-width: 1;
    /* filter: drop-shadow(0 0 4px var(--shadow)); */
}

#AND, #MCO, #LIE, #Hong_Kong, #SGP, #BHR, #MLT {
    stroke: yellow;
    stroke-width: 1;
}

/*
.low-data { 
    fill: rgb(255,150,0); 
    stroke: rgba(255,150,0,0.1);
    stroke-width: 18;
}
.no-data { 
    fill: red; 
    stroke: rgba(255,0,0,0.1);
    stroke-width: 18;
}*/