/* @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200..1000&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Nunito+Sans:opsz,wght@6..12,200..1000&display=swap');

:root {
    --dark: hsl(225, 25%, 10%);
    --shadow: hsla(225, 25%, 10%, 0.4);
    --less-dark: hsl(225, 25%, 18%);
    --less-less-dark: hsl(225, 25%, 35%);
}

body {
    background-color: var(--dark);
    color: white;
    font-family: "Nunito Sans", sans-serif;
}

/* ----------------------------- Countries ----------------------------- */

.country-path { 
    fill: var(--less-dark); 
    stroke: var(--dark);
    stroke-width: 0.15px;
}

.country-path:hover {
    stroke: white;
    stroke-width: 1px;
}

/* ----------------------------- Tooltip ----------------------------- */

#tooltip {
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--dark);
    background-color: hsla(225, 25%, 10%, 0.8);
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    width: 250px;

    display: flex;
    align-items: center;
    justify-content: center;
}

#tooltip-grid {
    display: grid;
    grid-template: 50px / 1fr 90px;
    align-items: center;
    gap: 20px;
    width: calc(100% - 40px);
    margin: auto;
}

#tooltip, #tooltip-grid, #tooltip-text, #tooltip-score { 
    margin: 0;
    padding: 0;
}

/* Tooltip content */

#tooltip-text { 
    font-size: 12px;
    line-height: 1.18;
}

#tooltip-score {
    font-weight: bold;
    font-family: "Alfa Slab One";
    font-size: 32px;
    text-align: right;
}

/* ----------------------------- Misc ----------------------------- */

#AND, #MCO, #LIE, #Hong_Kong, #SGP, #BHR, #MLT {
    stroke: yellow;
    stroke-width: 1px;
}

/*
.low-data { 
    fill: rgb(255,150,0); 
    stroke: rgba(255,150,0,0.1);
    stroke-width: 18;
}
.no-data { 
    fill: red; 
    stroke: rgba(255,0,0,0.1);
    stroke-width: 18;
}*/